/* This file is for your main application css. */

@import "./phoenix.css";

@import "../../deps/phoenix_live_view/assets/css/live_view.css";

h1, h2 {
    flex-grow: 1;
}

.container {
    max-width: 80%;
}

.dashboard {
    display: flex;
    flex-direction: column;
}
.dashboard * {
    display: flex; 
}

.signal-card {
    width: 280px;
    height: 160px;
    background: #EFF4FA;
    border-radius: 8px;
    margin-bottom: 3em;
    margin-right: 3em;
    flex-shrink: 0;
}

.wristband-container {
    align-items: center;
}

.wristband {
    background: #4D4D4D;
    height: 160px;
    width: 32px;
    margin-left: 42px;
}

.ring {
    background: #696969;
    height: 68px;
    width: 68px;
    border-radius: 50%;
    margin-left: -50px;
}

.alarm-button {
    background: #D7C575;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

.information-container {
    flex-direction: column;
    flex-grow: 1;
}

.text-container {
    flex-direction: column;
    justify-content: center;
    flex-grow: 3;
    padding-left: 1em;
}

.battery-container {
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0 0 8px 0;
    margin-left: -18px;
}


.battery-container > div {
    margin-right: 1em;
    font-size: 0.8em;
}

.red {
    background: #C3746C;
    color: white;
}

.yellow {
    background: #D7C575;
}

.hide {
    display: none;
}

.alarm-ani {
    background: #C3746C;
    animation: ripple 3s linear infinite;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 .7rem rgba(195, 116, 108, 0.5);
    }
    100% {
        box-shadow: 0 0 0 3rem rgba(195, 116, 108, 0.2);
    }
}
